<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WelCome</title>
</head>
<body>
<div class="contain">
    <p>注册</p>
    <form action="/register" method="post">

        <p>您的用户名<label><input type="text" placeholder="username" name="user_name"></label></p>
        <p>您的密码<label><input type="password" placeholder="password" name="user_password"></label>
        </p>
        <p><input type="submit" id="btn_submit" value="提交"></p>
    </form>
</div>
</body>
